<%- include("header.ejs") %>

    <div class="wrapper">
        <nav class="navbar fixed-top">
            <div class="top_nav">
                <div class="left">
                    <br>
                    <span><img src="/images/sound.gif" height="80px" width="80px"></span>
                    <div class="logo">
                        <p><span>Harmony</span>Hub</p>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li><a href="/login" style="text-decoration:none;">LogIn</a></li>
                        <li><a href="/register" style="text-decoration:none;">SignUp</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom_nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about" class="btn-active">About Us</a></li>
                    <li><a href="/category" >Categories</a></li>
                </ul>
            </div><br />
        </nav>

        <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>About Us</title>

    <style type="text/css">
     @import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");
      * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper .multi_color_border{
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #fff 0% , #fff 25%, #494949 25%, #494949 50%, #d4ba93 50%, #d4ba93 75%, #fff 75%, #fff 100%);
}

.wrapper .top_nav{
  margin-top: 5px;
  width: 100%;
  height: 65px;
  background: #fff;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left{
  display: flex;
  align-items: center;
}

.wrapper .top_nav .left .logo p{
  font-size: 24px;
  font-weight: bold;
  color: #494949;
  font-family: "Mountains of Christmas", cursive;
  margin-right: 25px;
}

.wrapper .top_nav .left .logo p span{
  color: burlywood;
  font-family: "Mountains of Christmas", cursive;
}

.wrapper .top_nav .left .search_bar input[type="text"]{
  border: 1px solid #666666;
  padding: 5px 10px; 
  outline: none;
  transition: all 0.5s linear;
}

.wrapper .top_nav .left .search_bar input[type="text"]:focus{
  width: 250px;
}

.wrapper .top_nav .right ul{
  display: flex;
}

.wrapper .top_nav .right ul li{
  margin: 0 12px;
}

.wrapper .top_nav .right ul li:last-child{
  background: #494949;
  margin-right: 0;
  border: 2px solid #EFEEF1;
  border-radius: 10px;
  letter-spacing: 3px;
}

.wrapper .top_nav .right ul li:hover:last-child{
  background: #494949;
  color: black;
}
.wrapper .top_nav .right ul li a{
  display: block;
  padding: 8px 10px;
  color: #666666;
}

.wrapper .top_nav .right ul li:last-child a{
   color: black;
}

.wrapper .bottom_nav{
  width: 100%;
  background: #f9f9f9;
  height: 45px;
  padding: 0 100px;
}

.wrapper .bottom_nav ul{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .bottom_nav ul li a{
  color: #494949;
  letter-spacing: 2px;
  text-decoration: none;
  background: transparent;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.wrapper .bottom_nav ul li a:hover{
  border: 0;
  box-shadow: 0 0 3px #CC885E, 0 0 7px #CC885E, 0 0 20px #dee2e6;;
}
.btn-active{
  border: 0;
  box-shadow: 0 0 3px #CC885E, 0 0 7px #CC885E, 0 0 20px #dee2e6;
}
.wrapper .banner img{
    margin-left: 25%;
    margin-right: 25%;
    height: 500px;
    width: 50%;
}
.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #fff;
	z-index: 1;
	cursor: pointer;
}


.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
}
.search_wrap.search_wrap_6 .search_box .input{
	border-radius: 50px;
}
.search_wrap.search_wrap_6 .search_box .btn{
  width: 125px;
	height: 45px;
	top: 8px;
	right: 5px;
	border-radius: 3px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search_wrap.search_wrap_6 .search_box .btn{
	border-radius: 25px;
}
.search_wrap.search_wrap_6 .search_box .input{
	padding-right: 145px;
}

      .title{
    text-align: center;
    text-transform: capitalize;
    color: #494949;
    font-size: 60px;
    margin: 10px 0;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 20%; height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #d4ba93);
    bottom: -10px; left: 50%;
    transform: translate(-50%);
}

.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}

.member:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-20px);
}

.member img{
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border:4px solid #d4ba93;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: #494949;
    margin: 15px 0;
}

.member p{
    font-size: 15px;
    color: #838383;
    line-height: 1.6;
}
    </style>
  </head>
  <h1 class="title">our team</h1>
  <div class="team-row">
      <div class="member">
          <img src="images/chrissha.jpg" alt="">
          <h2>Chrissha Balbin</h2>
          <p>I'm Chrissha Mae E. Balbin, a 20-year-old fourth-year BSIT student. I'm someone who sets goals and is committed to completing every task assigned to me. I focus on delivering quality work and good performance, aiming to better myself each day. Additionally, I'm eager to apply my school learnings, acquire new skills, and demonstrate them in my future job.</p>
      </div>
      <div class="member">
          <img src="images/royce.jpg" alt="">
          <h2>Royce Hortaleza</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum similique eligendi numquam.</p>
      </div>
      <div class="member">
          <img src="images/trisha.jpg" alt="">
          <h2>Trisha Servito</h2>
          <p>I'm, Trisha Servito, I'm 22 years of age. I was born on November 21, 2001, in Urdaneta City, Pangasinan. As a fourth-year Bachelor of Science in Information Technology (BSIT) student at Pangasinan State University Urdaneta Campus, I am concurrently managing an online business on TikTok named Wall Art Depot. Our shop specializes in the sale of anime-themed wall art decorations, catering to the diverse interests of anime enthusiasts.</p>
      </div>
      <div class="member">
        <img src="images/deoff.png" alt="">
        <h2>Deoff Torrado</h2>
        <p>I'm Deoff R. Torrado, 21 years old. I was born on October 28, 2002 in Urdaneta City Pangasinan. I love playing instruments, video games, eating, sleeping, traveling and playing sports. I am currently a 4th year BSIT college student in Pangasinan State University Urdaneta City Campus. My strength is collaborations and observations</p>
    </div>

    </div>
</div> <!-- Closing the wrapper div -->

    

    <%- include("footer.ejs") %>


        <script>
            $(document).ready(function () {
                $("#search").keyup(function () {
                    var search = $(this).val();
                    var cat_id =$("#category").val();
                   
                    $.ajax({
                        url: "/liveSearchCategory",
                        method: "POST",
                        data: {
                            query: search,
                            cat_id: cat_id
                        },
                        success: function (response) {
                            $('#livesearch').html(response);
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log("Error Thrown: " + errorThrown);
                            console.log("Text Status: " + textStatus);
                            console.log("XMLHttpRequest: " + XMLHttpRequest);
                            console.warn(XMLHttpRequest.responseText)
                        }
                    })
                })
            });
        </script>


        </body>

        </html>